@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

:root {
  --color-primary: #f48b48;
  --color-secondary: #fff;
  --color-accent: #fedd62;
  --color-highlight: #e79f1c;
  --color-background: #ffffff;
  --color-text: #665931;
  --color-warning: #ffd34e;
}

/* @font-face {
  font-family: 'Dingos Stamp';
  src: url('../fonts/DingosStamp-Regular.woff2') format('woff2'),
       url('../fonts/DingosStamp-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: 'Nunito', 'Hind Siliguri', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: var(--color-primary);
  width: 100%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.navbar .logo {
  font-family: 'Dingos Stamp', 'Hind Siliguri', sans-serif;
  font-size: 32.4px;
  font-style: italic;
  color: var(--color-text);
}

.navbar .opciones {
  display: flex;
  align-items: center;
}

.navbar .opciones button {
  margin-left: 20px;
  padding: 10px 20px;
  background: transparent;
  color: var(--color-text);
  border: 2px solid var(--color-text);
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
  text-decoration: none; /* Quitar subrayado */
}

.navbar .opciones button:hover {
  background: var(--color-secondary);
  color: var(--color-text);
}

.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  background: var(--color-secondary);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.form-container h2 {
  font-family: 'Dingos Stamp', 'Hind Siliguri', sans-serif;
  font-size: 32.4px;
  margin-bottom: 20px;
  font-weight: 600;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.form-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-container button {
  width: 100%;
  padding: 10px;
  background: var(--color-primary);
  color: var(--color-text);
  border: none;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}

.form-container button:hover {
  background: var(--color-accent);
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar .opciones {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .navbar .opciones button {
    margin: 10px 0;
    width: 100%;
    text-align: center;
  }
}